/** @format */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: azure;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
}

.logo {
  color: #ccc;
  font-size: 40px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

/* navigation  */

/* #a14f03, #c3956a */

/* #ba8554 */

.navigation {
}

.navigation__toggle {
  appearance: none;
}

.navigation__btn {
  position: fixed;
  right: 2%;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rebeccapurple;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
}

.navigation__icon {
  position: relative;
}

.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  width: 30px;
  height: 2px;
  background-color: #000;
}

.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::after {
  top: -8px;
}

.navigation__icon::before {
  top: 8px;
}

.navigation__btn:hover .navigation__icon::after {
  top: 10px;
}

.navigation__btn:hover .navigation__icon::before {
  top: -10px;
}

.navigation__toggle:checked + .navigation__btn .navigation__icon {
  background-color: transparent;
}

.navigation__toggle:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__toggle:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation__bg {
  position: fixed;
  right: 2%;
  top: 20px;
  width: 70px;
  height: 70px;
  background: radial-gradient(#a14f03, #c3956a);
  border-radius: 50%;
  z-index: 20;
  transition: all 400ms ease-in-out;
}

.navigation__toggle:checked ~ .navigation__bg {
  transform: scale(80);
}

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 20;
  width: 0;
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__item {
  width: 100%;
  text-align: center;
}

.navigation__item:not(:last-child) {
  margin-bottom: 30px;
}

.navigation__link {
  padding: 0 15px;
  /* color: #fff; */
  color: red;
  font-size: 30px;
  letter-spacing: 0.002em;
  text-transform: uppercase;
  background: linear-gradient(
    120deg,
    transparent 50%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all 400ms ease-in-out;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #c3956a;
  background-position: 100%;
}

.test {
  background-color: tomato;
  height: 1000px;
}
